/* nav related styles */
nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.nav-title {
   font-size:45px;
   font-weight:8; 
}
.btn-orimary{
    border-radius:5px;
    color:#119b56;
    border:0px;
    font-size:25px;
    font-weight:700;

    
}
.orang{
    color:#FD6E0A


}

nav > ul{
    display:flex;
    align-items:center;
}
nav li {
    list-style:none;
    margin-right:50px;
}
nav a {
    text-decoration: none;
    color:#1b1919;
}